.notification {
    background-color: var(--black);
    padding: 15px 0;
    position: relative;
    z-index: 90;
}

.notification .container {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 15px;
}

@media (max-width: 767px) {
    .notification .container {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.notification .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.notification span {
    color: #fff;
    font-size: 14px;
}

.notification .btn {
    font-size: 12px;
    padding: 5px 10px !important;
    margin-left: 10px;
    font-weight: 300;
}

.notification .btn:hover {
    background-color: #fff;
    color: var(--main-color);
}

.notification .icon {
    display: inline-flex;
    background-color: #24262d;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    color: var(--light-grey);
    transition: all var(--time) linear;
    -webkit-transition: all var(--time) linear;
    -moz-transition: all var(--time) linear;
    -ms-transition: all var(--time) linear;
    -o-transition: all var(--time) linear;
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
}

.notification .icon:hover {
    background-color: #fff;
    color: var(--black);
}

@media (max-width: 767px) {
    .notification .icon {
        position: initial;
    }
}
