/*===================
== Desktop Header
===================*/

.header {
    position: sticky;
    top: 0;
    height: 90px;
    border-bottom: 1px solid #ccc;
}

.header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img {
    width: 100px;
}

.header .navbar ul a.active {
    color: var(--main-color);
}

.header .post {
    color: var(--dark-grey);
    font-weight: 500;
    transition: color var(--time) linear;
    -webkit-transition: color var(--time) linear;
    -moz-transition: color var(--time) linear;
    -ms-transition: color var(--time) linear;
    -o-transition: color var(--time) linear;
}

.header .post:hover {
    color: var(--main-color);
}

.header .btn {
    margin-left: 20px;
}

/*===================
== Mobile Header
===================*/

.header-mobile {
    position: sticky;
    top: 0;
    left: 0;
    height: 90px;
    border-bottom: 1px solid #ccc;
}

.header-mobile .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mobile .icon {
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.header-mobile .icon.active {
    background-color: var(--main-color);
    color: #fff;
}

.header-mobile .navbar {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100vw;
    background-color: #fff;
    z-index: -1;
    margin: 0;
    padding: 20px;
    transition: top var(--time) linear;
    -webkit-transition: top var(--time) linear;
    -moz-transition: top var(--time) linear;
    -ms-transition: top var(--time) linear;
    -o-transition: top var(--time) linear;
}

.header-mobile .navbar.active {
    display: block;
}

.header-mobile .navbar ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.header-mobile .navbar .btn {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}
